body {
  margin: 0;
  font-family: sans-serif;
  background: #0f172a;
  color: white;
}

header {
  padding: 15px;
  text-align: center;
  background: #1e293b;
}

#chat {
  height: 40vh;
  overflow-y: auto;
  padding: 10px;
}

.bubble {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  max-width: 70%;
}

.user { background: #2563eb; margin-left: auto; }
.bot { background: #334155; }

.input-area {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
}

input { flex: 1; padding: 10px; }
button { padding: 10px; }

#dashboard {
  padding: 10px;
  background: #1e293b;
}

#riskBar {
  height: 20px;
  background: #334155;
  border-radius: 10px;
}

#riskFill {
  height: 100%;
  width: 0%;
  background: red;
}

#map {
  height: 250px;
}
